*{
    margin: 0;
    padding: 0;
}
#Submit{
    display: block;
}
#Update{
    display: none;
}
.card{
    width: 300px;
    margin: auto;
    box-shadow: 0 0 1em black;
}
.table{
    border: 1px solid #a4a4a2;
}
.thead{
    border-bottom: 2px solid black;
}
.tbody{
    background-color: #a4a4a2;
}